@page "/restart"
@inject GameState gameState

<h1>Restart the game?</h1>

<p><button class="btn btn-primary" @onclick="Start">Start the hunt!</button></p>
<p><button class="btn btn-primary" @onclick="RestartGame">Restart</button></p>

@code {
    async void RestartGame()
    {
        await gameState.Restart();
    }

    void Start()
    {
        gameState.GameIsActive = true;
    }
}
