@page "/restart"
@inject GameState gameState

@if (!passCorrect)
{
    <input type="password" placeholder="pass" size="250" @bind="insertedPass" />
    <p><button class="btn btn-primary" @onclick="CheckPassword">Login</button></p>
}
else
{
    <h1>Game manager</h1>

    <p><button class="btn btn-primary" @onclick="Start">Start the hunt!</button></p>
    <p><button class="btn btn-primary" @onclick="ResetGame">Reset</button></p>

    if (result != null)
    {
        <p>Result: @result.Data</p>
        @result.ErrorMessage
    }
}

@code {
    bool passCorrect = false;
    string insertedPass = string.Empty;
    BaseResult<bool> result;

    async Task ResetGame()
    {
        result = await gameState.Restart();
    }

    async Task Start()
    {
        result = await gameState.ValidateGameStart();
        if (!result.HasError && result.Data)
        {
            gameState.GameIsActive = true;
        }
    }

    public void CheckPassword()
    {
        if (insertedPass == "barendt")
        {
            passCorrect = true;
        }
    }
}
